@import "../../../../twbs/bootstrap/less/mixins";
@import "../../../../fortawesome/font-awesome/css/font-awesome.min.css";


.mm-wp-lib-widget-form-section{

	ul.element-list{
		min-height: 50px;
		padding: 12px;
		border-radius: 6px;
		background-color: #CCC;
		li{
			cursor: move;
			padding: 12px;
			border-radius: 6px;
			background-color: #FFF;
		}
	}
	a.selection{
		font-size: 24px;
	}
	padding-top: 12px;
	margin: 13px 0;
	border-top: 1px solid #666;
	&:first-child{
		border-top: none;
		padding-top: 0;
	}
	.section-header{
		margin: 0 0 13px 0;
		font-weight: bold;
		a{
			text-decoration: none;
		}
	}



	.form-field{
		border: 1px dotted #cccccc;
		padding: 12px;
		border-radius: 6px;
		margin-bottom: 13px;
		.label{
			display: block;
			margin-bottom: 6px;
			font-weight: bold;
		}
		small{
			display: block;
			margin-top: 6px;
		}

		&.single-check{
			input{
				width: auto;
			}
			label{
				display: inline;
				font-weight: bold;
			}

		}
	}
	.form-fields-inner{
		.form-field{
			border: none;
			padding: 0;
			border-radius: 0;
			margin: 13px 0;
		}
	}


	&.toggleable{

		.form-field{
			display: none;
		}
		&.opened{
			.form-field{
				display: block;
			}
		}
	}


}

.mm-wp-lib-post-picker{
	.list{
		padding: 12px;
		border: 1px solid #CCC;
	}
}
.mm-wp-lib-form-table{
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #999;

	td{
		vertical-align: top;
		padding: 10px;
	}
	td:first-child{
		text-align: right;
		width: 15%;
	}

	td:last-child{

		width: 35%;
	}

	tr:nth-child(even){
		td{
			background-color: #FFF;
		}

	}
	tr:nth-child(odd){
		td{
			background-color: #F6F6F6;
		}

	}
}

.mm-wp-lib-widget-error{
	margin: 13px 0;
	background-color: #ffff00;
	padding: 6px;
}

.mm-wp-lib-attribute-control{
	label{
		span{
			.text-hide();
		}
	}
	.attribute{
		&.template{
			display: none;
		}
		a.remove{
			color: red;
			font-size: 24px;
			span{
				.text-hide();
			}
		}
	}
}

.mm-wp-lib-carousel-items-list{
	.item{
		&.template{
			display: none;
		}
		.item-header{
			line-height: 24px;
			background-color: #EEE;
			border-radius: 6px 6px 0 0;
			padding: 12px;
			cursor: move;
			.clearfix();
			.left{
				width: 90%;
				float: left;
			}
			.right{
				width: 5%;
				float: right;
				text-align: right;
				.remove{
					color: #F00;
					font-size: 24px;
					text-decoration: none;
					&:hover{
						color: #C00;
					}
					span{
						.hide-text();
					}
				}
			}
			.header{
				font-weight: bold;
			}
		}
		.item-content{
			.clearfix();
			border-left: 1px solid #EEE;
			border-right: 1px solid #EEE;
			border-bottom: 1px solid #EEE;
			border-radius: 0 0 6px 6px;
			background-color: #FFF;
			padding: 12px;
			.left{
				width: 45%;
				float: left;
			}
			.right{
				width: 45%;
				float: right;
			}
			.holder{
				img{
					.img-responsive();
				}
			}
		}

	}
}

.ajax-msg{
	line-height: 32px;
}
