@import "../../../../fortawesome/font-awesome/css/font-awesome.min.css";
.mm-wp-lib-widget-form-section {
  padding-top: 12px;
  margin: 13px 0;
  border-top: 1px solid #666;
}
.mm-wp-lib-widget-form-section ul.element-list {
  min-height: 50px;
  padding: 12px;
  border-radius: 6px;
  background-color: #CCC;
}
.mm-wp-lib-widget-form-section ul.element-list li {
  cursor: move;
  padding: 12px;
  border-radius: 6px;
  background-color: #FFF;
}
.mm-wp-lib-widget-form-section a.selection {
  font-size: 24px;
}
.mm-wp-lib-widget-form-section:first-child {
  border-top: none;
  padding-top: 0;
}
.mm-wp-lib-widget-form-section .section-header {
  margin: 0 0 13px 0;
  font-weight: bold;
}
.mm-wp-lib-widget-form-section .section-header a {
  text-decoration: none;
}
.mm-wp-lib-widget-form-section .form-field {
  border: 1px dotted #cccccc;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 13px;
}
.mm-wp-lib-widget-form-section .form-field .label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}
.mm-wp-lib-widget-form-section .form-field small {
  display: block;
  margin-top: 6px;
}
.mm-wp-lib-widget-form-section .form-field.single-check input {
  width: auto;
}
.mm-wp-lib-widget-form-section .form-field.single-check label {
  display: inline;
  font-weight: bold;
}
.mm-wp-lib-widget-form-section .form-fields-inner .form-field {
  border: none;
  padding: 0;
  border-radius: 0;
  margin: 13px 0;
}
.mm-wp-lib-widget-form-section.toggleable .form-field {
  display: none;
}
.mm-wp-lib-widget-form-section.toggleable.opened .form-field {
  display: block;
}
.mm-wp-lib-post-picker .list {
  padding: 12px;
  border: 1px solid #CCC;
}
.mm-wp-lib-form-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #999;
}
.mm-wp-lib-form-table td {
  vertical-align: top;
  padding: 10px;
}
.mm-wp-lib-form-table td:first-child {
  text-align: right;
  width: 15%;
}
.mm-wp-lib-form-table td:last-child {
  width: 35%;
}
.mm-wp-lib-form-table tr:nth-child(even) td {
  background-color: #FFF;
}
.mm-wp-lib-form-table tr:nth-child(odd) td {
  background-color: #F6F6F6;
}
.mm-wp-lib-widget-error {
  margin: 13px 0;
  background-color: #ffff00;
  padding: 6px;
}
.mm-wp-lib-attribute-control label span {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.mm-wp-lib-attribute-control .attribute.template {
  display: none;
}
.mm-wp-lib-attribute-control .attribute a.remove {
  color: red;
  font-size: 24px;
}
.mm-wp-lib-attribute-control .attribute a.remove span {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.mm-wp-lib-carousel-items-list .item.template {
  display: none;
}
.mm-wp-lib-carousel-items-list .item .item-header {
  line-height: 24px;
  background-color: #EEE;
  border-radius: 6px 6px 0 0;
  padding: 12px;
  cursor: move;
}
.mm-wp-lib-carousel-items-list .item .item-header:before,
.mm-wp-lib-carousel-items-list .item .item-header:after {
  content: " ";
  display: table;
}
.mm-wp-lib-carousel-items-list .item .item-header:after {
  clear: both;
}
.mm-wp-lib-carousel-items-list .item .item-header .left {
  width: 90%;
  float: left;
}
.mm-wp-lib-carousel-items-list .item .item-header .right {
  width: 5%;
  float: right;
  text-align: right;
}
.mm-wp-lib-carousel-items-list .item .item-header .right .remove {
  color: #F00;
  font-size: 24px;
  text-decoration: none;
}
.mm-wp-lib-carousel-items-list .item .item-header .right .remove:hover {
  color: #C00;
}
.mm-wp-lib-carousel-items-list .item .item-header .right .remove span {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.mm-wp-lib-carousel-items-list .item .item-header .header {
  font-weight: bold;
}
.mm-wp-lib-carousel-items-list .item .item-content {
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  border-radius: 0 0 6px 6px;
  background-color: #FFF;
  padding: 12px;
}
.mm-wp-lib-carousel-items-list .item .item-content:before,
.mm-wp-lib-carousel-items-list .item .item-content:after {
  content: " ";
  display: table;
}
.mm-wp-lib-carousel-items-list .item .item-content:after {
  clear: both;
}
.mm-wp-lib-carousel-items-list .item .item-content .left {
  width: 45%;
  float: left;
}
.mm-wp-lib-carousel-items-list .item .item-content .right {
  width: 45%;
  float: right;
}
.mm-wp-lib-carousel-items-list .item .item-content .holder img {
  display: block;
  max-width: 100%;
  height: auto;
}
.ajax-msg {
  line-height: 32px;
}
.checkbox-inline {
  display: inline-block;
  margin: 0 20px 20px 0;
}
.mm-wp-lib-panel-form-section {
  border: 1px solid #EEE;
  padding: 12px;
  background-color: #FFF;
  border-radius: 6px;
  width: 400px;
  max-width: 95%;
  margin: 1em 10px 1em 0;
}
.mm-wp-lib-panel-form-section .mm-form-field {
  margin-bottom: 1em;
}
.mm-wp-lib-panel-form-section .mm-form-field .form-controls .checkbox-block {
  display: block;
  margin: 3px 0;
}
.mm-wp-lib-panel-form-section .mm-form-field.horizontal:before,
.mm-wp-lib-panel-form-section .mm-form-field.horizontal:after {
  content: " ";
  display: table;
}
.mm-wp-lib-panel-form-section .mm-form-field.horizontal:after {
  clear: both;
}
.mm-wp-lib-panel-form-section .mm-form-field.horizontal .form-label,
.mm-wp-lib-panel-form-section .mm-form-field.horizontal .form-controls {
  width: 66%;
  float: left;
}
.mm-wp-lib-panel-form-section .mm-form-field.horizontal .form-label {
  width: 33%;
}
.mm-wp-lib-panel-form-section .mm-form-field.horizontal .form-label label {
  display: block;
  padding-right: 1em;
  text-align: right;
  padding-top: 3px;
}
.mm-submit {
  clear: both;
  margin: 1em 0;
}
