@import "../../../../fortawesome/font-awesome/css/font-awesome.min.css";
.mm-wp-lib-widget-form-section {
  padding-bottom: 12px;
  margin: 13px 0;
  border-bottom: 1px dotted #CCC;
}
.mm-wp-lib-widget-form-section .section-header {
  margin: 0 0 13px 0;
  font-weight: bold;
}
.mm-wp-lib-widget-form-section .section-header a {
  text-decoration: none;
}
.mm-wp-lib-widget-form-section .form-field {
  margin-bottom: 13px;
}
.mm-wp-lib-widget-form-section .form-field label {
  display: block;
  margin-bottom: 6px;
}
.mm-wp-lib-widget-form-section .form-field small {
  display: block;
  margin-top: 6px;
}
.mm-wp-lib-widget-form-section .form-field.single-check input {
  width: auto;
}
.mm-wp-lib-widget-form-section .form-field.single-check label {
  display: inline;
  margin-bottom: 0;
}
.mm-wp-lib-widget-form-section .form-field-horizontal:before,
.mm-wp-lib-widget-form-section .form-field-horizontal:after {
  content: " ";
  display: table;
}
.mm-wp-lib-widget-form-section .form-field-horizontal:after {
  clear: both;
}
.mm-wp-lib-widget-form-section .form-field-horizontal > .label,
.mm-wp-lib-widget-form-section .form-field-horizontal > .controls {
  float: left;
}
.mm-wp-lib-widget-form-section .form-field-horizontal > .label {
  width: 33%;
}
.mm-wp-lib-widget-form-section .form-field-horizontal > .label label {
  display: block;
  padding-right: 13px;
  padding-top: 5px;
  text-align: right;
}
.mm-wp-lib-widget-form-section .form-field-horizontal > .controls {
  width: 67%;
}
.mm-wp-lib-widget-form-section .form-field-horizontal > .controls .mm-wp-lib-uploader {
  margin: 13px 0;
}
.mm-wp-lib-widget-form-section.toggleable .form-field {
  display: none;
}
.mm-wp-lib-widget-form-section.toggleable.opened .form-field {
  display: block;
}
.mm-wp-lib-post-picker .list {
  padding: 12px;
  border: 1px solid #CCC;
}
.mm-wp-lib-form-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #999;
}
.mm-wp-lib-form-table td {
  vertical-align: top;
  padding: 10px;
}
.mm-wp-lib-form-table td:first-child {
  text-align: right;
  width: 15%;
}
.mm-wp-lib-form-table td:last-child {
  width: 35%;
}
.mm-wp-lib-form-table tr:nth-child(even) td {
  background-color: #FFF;
}
.mm-wp-lib-form-table tr:nth-child(odd) td {
  background-color: #F6F6F6;
}
